[submodule "Uranus/vendor/spdlog"]
	path = Uranus/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Uranus/vendor/GLFW"]
	path = Uranus/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Uranus/vendor/imgui"]
	path = Uranus/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Uranus/vecndor/glm"]
	path = Uranus/vecndor/glm
	url = https://github.com/g-truc/glm
