[submodule "Uranus/vendor/spdlog"]
	path = Uranus/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Uranus/vendor/GLFW"]
	path = Uranus/vendor/GLFW
	url = https://github.com/TheCherno/glfw
